In [23]:
def ran_check(num,low,high):
    if num > low and num < high:
        return(f'{num} is in the range between {low} and {high}')
    else:
        return False

In [24]:
ran_check(3,4,10)

False

In [2]:
h = 'helleh'

In [4]:
h[::-1]

'helleh'

In [5]:
def palindrome(s):
    if s == s[::-1]:
        return True
    else:
        return False

In [15]:
palindrome('sives')

False

In [8]:
list1 = [1,2,3,4,5,1,2,3,4,5]

In [9]:
set(list1)

{1, 2, 3, 4, 5}

In [12]:
def unique_list(list2):
    return set(list2)

In [13]:
unique_list([1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,3,4,4,4,4,4])

{1, 2, 3, 4}

In [27]:
def multiply(num):
    total = 1
    for num in num:
        total = total*num
    return total

In [28]:
multiply([1,2,3,4])

24

In [20]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [21]:
vol(2)

33.49333333333333

In [25]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
    print(f"original string : {s}")
    print(f"lowercase count : {lowercase}")
    print(f"uppercase count : {uppercase}")

In [26]:
up_low('hello Iam Sivesvaran OF GRADE 8')

original string : hello Iam Sivesvaran OF GRADE 8
lowercase count : 16
uppercase count : 9

In [29]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    str1 =  str1.replace(' ',' ')
    str1 = str1.lower()
    str1 = set(str1)
    return str1 == alphaset

In [30]:
ispangram("The quick brown fox jumps over the lazy dog")

False

In [31]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'