In [1]:
def square(num):
    return num**2

In [2]:
mynums = [1,2,3,4,5]

In [4]:
for item in map(square,mynums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square,mynums))

[1, 4, 9, 16, 25]

In [9]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'even'
    else:
        return 'odd'

In [10]:
names = ['sives','varan','hello']

In [11]:
list(map(splicer,names))

['odd', 'odd', 'odd']

In [12]:
list(splicer('hello'))

['o', 'd', 'd']

In [13]:
def check_even(num):
    return num%2 == 0

In [14]:
mynum = [1,2,3,4,5,6]

In [16]:
list(filter(check_even,mynum))

[2, 4, 6]

In [26]:
lambda num:num ** 2

In [27]:
square(20)

400

In [28]:
list(map(lambda num:num**2,mynum))

[1, 4, 9, 16, 25, 36]

In [29]:
list(filter(lambda num:num%2==0,mynum))

[2, 4, 6]

In [30]:
name = ['sives','varan','hello']

In [32]:
list(map(lambda s:s[::-1],name))

['sevis', 'narav', 'olleh']